
body {margin: 0%;
background-color: azure;}

/* Header styles */
header h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin: 0;
    background-color: rgb(134, 154, 115);
}

header nav {
    display: flex;
    justify-content: left;
    background-color: rgb(134, 145, 123)
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 01;
    display: inline-flex;

}

header nav ul li {
    margin: 0 20px;
    
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-style: italic;
    transition-duration: 1s;
}

h2 {
    font-size: 1.5em;
    color: rgb(134, 145, 123);
    text-align: center;
}


h3 {
    font-size: 1.2em;
    color: rgb(134, 145, 123);
}

/* Skills section styles */

.frontend-skills{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}